








<div class="navbar navbar_home">

    <%= image_tag("Fanny.jpeg", size: "65x65", class: "avatar_banner")%>



  <nav class="nav_links">
    <ul>
      <li>
        <%= link_to "HOME", "#", class: "nav-link" %>
      </li>
      <li>
        <%= link_to "BIO", "#", class: "nav-link" %>
      </li>
      <li>
        <%= link_to "REALISATIONS", "#", class: "nav-link" %>
      </li>
      <li>
        <%= link_to "PRESTATIONS", "#", class: "nav-link" %>
      </li>
      <li>
        <%= link_to "BLOG", "#", class: "nav-link" %>
      </li>
      <li>
        <%= link_to "CONTACT", "#", class: "nav-link" %>
      </li>
    </ul>
  </nav>

</div>
