
<h1><%= @realisation.name %></h1>
<h4><%= @realisation.category %></h4>
<% @realisation.photos.each  do |photo| %>
<%= cl_image_tag photo.key, width: 100, height: 100, crop: :fill %>
<% end %>

<%= link_to 'Retour à la liste', realisations_path %>
<%= link_to 'Modifier', edit_realisation_path(@realisation) %>
<%= link_to 'Supprimer', realisation_path(@realisation), method: :delete, data: { confirm: 'Es-tu bien sure de toi ma puff?'} %>


